:root {
    --bg-color:#ebebeb;
    --input-placeholder:#d4d4d4;
    --input-bg:#efefef;
    --texto-destaque:#ffff;
    --azul-destaque:#2a7ae4;
    --bg-contato:#eaf2fd;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Releway", sans-serif;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
    padding: 2%;
}

a {
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
}
button{
    cursor: pointer;
}

/* header geral */

header {
    padding: 32.5px 154px;
    background-color: var(--texto-destaque);
}
nav {
    display: flex;
    align-items: center;
}

/* divs do header */

.logo-busca {
    margin-left: 175PX;
    width: 601PX;
    display: flex;
    align-items: center;
    justify-content: space-between
    ;
}
.logo {
    display: flex;
    align-items: center;

}
.logo img {
    height: 29.17px;
    width: 40.02px;
}
.logo p {
    font-size: 26px;
    font-weight: border;

}
.logo .logo-azul {
    margin-left: 10px;
    color: var(--azul-destaque);

}
.logo-busca input {
    margin-left: 10%;
    width: 393px;
    height: 40px;
    border-radius: 5px;
    padding: 1% 3%;
    border: none;
    background-color: var(--input-bg);
    background-image: url("lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 320px ;
    border: solid 1px var(--azul-destaque);
}
.login {
    width: 600px;
    display: flex;
    justify-content: end;
}
.login button {
    width: 182px;
    height: 51px;
    background: none;
    border: solid 1px var(--azul-destaque);
    color: var(--azul-destaque);
    text-transform: uppercase;
    border-radius: 5px;
    
}
.login button:hover{
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
    
}

/* banner promocional */
.destaques {
    height: 352px;
    background-image: url("banner.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 32px;
}
.banner {
    width: 751px;
    height: 320px;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}
.banner h1 {
    color: var(--texto-destaque);
    font-size: 52px;
    font-weight: bold;

}
.banner  h4{
    color: var(--texto-destaque);
    font-size: 22px;
    font-weight: bold;

}
.banner button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 130px;
}

/* sessao de produtos */

.geral-prods {
    display: flex;
    flex-direction: column;
    width: 1136px;
    margin: 0 auto;
}   
 /* divs na sessao produtos */

.sessao-produtos {
    
    display: flex;
    align-items: center;
    width: 1248px;
    height: 758px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    margin: 10px 20px;
    

}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 160px;
    height: 160px;
    background-color: #d4d4d4;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 12px;
}
.prod-titulo {
    display: flex;
    justify-content: space-between;

}
.prod-titulo .titulo {
    font-size: 32px;
    font-weight: bold;

}
/*
.mostrar-mais{
    font-weight: bold;
    margin-top: 25px;
}
.sessao-produtos{
    height: 306px;
    width: 1136px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 64px;
}

/* form contato */

.contato {
    background-color: var(--bg-contato);
    display: flex;
    height: 365px;
    justify-content: center;
    padding: 64px 0;

}

.referencia {
    margin: 20PX 0 0 0;
    display: flex;
    width: 350px;
}
.referencia img {
    width: 60px;
    height: 40px;

}
.referencia p {
    font-size: 26px;
    font-weight: bold;
    color: var(--azul-destaque);
    margin-top: 5px;
    margin-left: 6px;
}
.links-uteis {
    line-height: 40px;
    width: 200px;
    margin-right: 100px;
}
.links-uteis a {
    color: black;
    font-weight: normal;
    display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20PX ;
}

.formulario {
    width: 440px;
    height: 310px;
}
form {
    margin: 2px 0;
}
form label, form legend {
    display: block;
    font-size: 10px;
    margin: 0 0 10px;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 50%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background: red;
    transform: scale(1.2);
}
footer {
    width: 100%;
    height: 50px;
    display: flex;   
    background-color: var(--input-placeholder);
}
.copyright {
    margin: 15px auto;
    font-size: 12px;
}